.header {
    color: rgb(42, 78, 177);
    font-size: 1rem;
}

.gig {
    .company {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1rem;
    }
    .sector {
        font-size: 0.7rem;
    }
    .duration {
        font-size: 0.6rem;
    }
}
