.experience {
    margin: 1rem 0;
    border: 1px solid #efefef;
    border-radius: 0.3rem;
    padding: 0.5rem;

    .company {
        h3 {
            display: inline-block;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1rem;
        }
        span {
            color: #666;
            display: inline-block;
            font-size: 0.65rem;
        }
    }

    .titleDuration {
        .title {
            display: inline-block;
            font-size: 0.8rem;
        }
        .duration {
            display: inline-block;
            font-size: 0.65rem;
        }
    }

    .techUsed {
        font-size: 0.65rem;
    }

    .description {
        .descriptionItem {
            font-size: 0.8rem;
            margin: 0 0 0.5rem 0;
        }
    }
}
